body {
    text-align: center;
}

.error_message {
    color: red;
    border-radius: 6px;
    border: 2px solid red;
    padding: 20px;
    width: 400px;
    margin: 10px;
    display: inline-block;
}

#login_form {
    border-radius: 25px 0 0 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    display: inline-block;
}

#signup_form {
    width: 200px;
    border-radius: 0 25px 25px 0;
    background: #FF9800;
    padding: 20px;
    display: inline-block;
}

.btn-select-action {
    margin: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    line-height: 200px;
    background:  lightblue;
    border: 1px;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
}

.competitor {
    overflow: hidden;
    margin: 30px;
    border-radius: 25px;
    background: #73AD21;
    display: inline-block;
    width: 300px;
    height: 350px;
    cursor: pointer;
}

.competitor img {
    width: 100%;
    height: 100%;
    object-fit: cover
}